---
layout: default.hbs
---
<div class="container">
  <div class="content">
     <section class="story">
      <aside>
        <ul>
          <li><span>Last Edited: {{page.edited}}</span></li>
          <li><span>{{page.word-count}} words</span></li>
          <li><span>{{page.read-time}} minute read</span></li>
          <li><a href="/">Home</a></li>
          <li><a class="scrollTop" href="#">Back to Top</a></li>
        </ul>
      </aside>
      <article>
        <header>
          <h2>{{title}}</h2>
          <p class="details"> Last Edited: {{page.edited}}</p>
          <p class="details">{{page.word-count}} words</p>
          <div class="details">{{page.read-time}} minute read</div>
        </header>
        {{#markdown}}
          {{> body }}
        {{/markdown}}
      </article>
    </section>
  </div>
</div>

